{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <style>
      .wrapper.bgded.overlay {
          position: relative;
      }
  
      .text-container {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 60%;
          border-radius: 15px;
          color: #f7f2f2; /* Set the text color */
          background-color: rgba(195, 93, 35, 0.741); /* Set the background color to white */
          padding: 20px; /* Adjust the padding to your preference */
      }
  
      .text-container h2 {
          font-size: 2em; /* Adjust the font size */
          margin-bottom: 10px; /* Adjust the spacing */
      }
  
      .text-container p {
          font-size: 1.2em; /* Adjust the font size */
      }
  </style>
  
</head>



<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div >
      <ul class="nospace inline pushright">
        <li><a class="btn" href="#">SHOP OWNER / ഉടമസ്ഥൻ</a></li>
        
        <li><i class="fa fa-sign-in"></i> &nbsp;&nbsp;<a href="/shop_login">Login</a></li>
      
        <li><i class="fa fa-user"></i>&nbsp;&nbsp;<a href="/shop_register">Register</a></li>

        
    
        <li><a class="btn" href="#">USER / ഉപയോക്താവ്</a></li>
        
        <li><i class="fa fa-sign-in"></i> &nbsp;&nbsp;<a href="/user_login">Login</a></li>
      
        <li><i class="fa fa-user"></i>&nbsp;&nbsp;<a href="/user_register">Register</a></li>
  

        <li><a class="btn" href="/admin_login">ADMIN</a></li>
      
      </ul><br>
    </div>
    <!-- <div class="fl_right"><br>
      <form class="clear" method="post" action="#">
        <fieldset>
          <legend>Search:</legend>
          <input type="search" value="" placeholder="Search Here&hellip;">
          <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
        </fieldset><br>
      </form>
    </div> -->
    <!-- ################################################################################################ -->
   
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row1"> -->
  <!-- <header id="header" class="hoc clear"> 
     ################################################################################################ -->
    <!-- <div id="logo" class="fl_left">
      <h1><a href="index.html">Lolwork</a></h1>
      <p>Fusce iaculis feugiat</p>
    </div> -->
    <!-- ################################################################################################ -->
    <!-- <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/full-width.html">Full Width</a></li>
            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Dropdown</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
      </ul>
    </nav> -->
    <!-- ################################################################################################ -->
  <!-- </header> 
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay">
  <img src="{% static 'images/demo/grains.jpg' %}" width="100%" height="50%">
  <div class="text-container">
      <h1 class="font-x3 uppercase">E RATION SHOP<br><br>ഭക്ഷ്യ പൊതുവിതരണ കേന്ദ്രം</h2>
      <br><br>
      <h2 class="font-x3 uppercase">ഒരു രാഷ്ട്രം ഒരു റേഷൻ കാർഡ്</h2>
  </div>
</div>

  <!-- <div id="pageintro" class="hoc clear">   -->
    <!-- ################################################################################################ -->
    <!-- <article>
      <h2 class="heading">Dapibus feugiat vestibulum molestie</h2>
      <p>Rutrum cras sapien nisl mattis non facilisis sed iaculis at neque nunc facilisis mattis leo ut ornare eros pellentesque blandit turpis vel lacinia sagittis quisque eu faucibus dui.</p>
      <footer><a class="btn" href="#">Pellentesque</a></footer>
    </article> -->
    <!-- ################################################################################################ -->
  <!-- </div>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="font-x3 uppercase">PRODUCTS / ഉൽപന്നങ്ങൾ</h2>
      <h1>The Indian ration card provides food for the poor people which is distributed by the government along with the fuel.  The basic food items provided by government are rice, sugar, wheat. </h1>
    </div>
    <ul class="nospace group btmspace-50">
      <li class="one_third first">
        <article class="element">
          <figure><img src="{% static 'images/demo/wf.jpg' %}" alt="">
            <figcaption><a class="btn small" href="#">More</a></figcaption>
          </figure>
          <div class="excerpt">
            <!-- <time datetime="2045-06-06T08:15+00:00" data-title="June"><strong>Jun</strong> <em>06</em></time> -->
            <h1>WHEAT FLOUR / ഗോതമ്പ്</h1><br>
            <p>Wheat flour is a powder made from the grinding of wheat used for human consumption &hellip;</p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="element">
          <figure><img src="{% static 'images/demo/r.jpg' %}"  alt="">
            <figcaption><a class="btn small" href="#">More</a></figcaption>
          </figure>
          <div class="excerpt">
            <!-- <time datetime="2045-05-05T08:15+00:00" data-title="May"><strong>May</strong> <em>05</em></time> -->
            <h1>RICE / <br>അരി</h1><br>
            <p>Rice, a monocot, is normally grown as an annual plant, although in tropical areas &hellip;</p>
          </div> 
        </article>
      </li>
      <li class="one_third">
        <article class="element">
          <figure><img src="{% static 'images/demo/grains.jpg' %}" alt="">
            <figcaption><a class="btn small" href="#">More</a></figcaption>
          </figure>
          <div class="excerpt">
            <!-- <time datetime="2045-04-04T08:15+00:00" data-title="April"><strong>Apr</strong> <em>04</em></time> -->
            <h1>GRAINS / ധാന്യങ്ങൾ</h1><br>
            <p>A grain is a small, hard, dry fruit with or without an attached hull layer  harvested for humans &hellip;</p>
          </div>
        </article>
      </li>
    </ul>
    <p class="center nospace"><a class="btn" href="#">Know More</a></p>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay coloured" style="background-image:url('C:\Users\user\Desktop\Anamika\e_ration_project\e_ration_project\ration_app\static\images\demo\backgrounds\b4751520-03da-4c2e-a1b0-2c69c6f635ee.webp');">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="center">
      <h2 class="font-x3 uppercase">ഭക്ഷ്യ പൊതുവിതരണ കേന്ദ്രം</h2>
      <p class="btmspace-50 font-x2 capitalise">ഒരു രാഷ്ട്രം ഒരു റേഷൻ കാർഡ്</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">വിശദാംശങ്ങൾ</a></li>
          <li><a class="btn " href="#">KNOW MORE</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first btmspace-30">
        <h6 class="font-x3 uppercase">ഭക്ഷ്യ <br>ഭദ്രതയുടെ<br>60 വർഷം<a href="#">   &raquo;</a></h6>
      </div>
      <article class="one_third btmspace-30">
        <h6 class="uppercase font-x1"><a href="#">Public Distribution System</a></h6>
        <p class="nospace">The Public Distribution System (PDS) is an Indian food security system that was established by the Government of India under the Ministry of Consumer Affairs, Food and Public Distribution to distribute food and non-food items to India's poor at subsidised rates.&hellip;</p>
      </article>
      <article class="one_third btmspace-30">
        <h6 class="uppercase font-x1"><a href="#">Center state responsibilities</a></h6>
        <p class="nospace">The central and state governments share the responsibility of regulating the PDS. While the central government is responsible for procurement, storage, transportation, and bulk allocation of food grains, state governments hold the responsibility&hellip;</p>
      </article>
      <article class="one_third first">
        <h6 class="uppercase font-x1"><a href="#">History</a></h6>
        <p class="nospace">This scheme was first started on 14 January 1945, during the Second World War, and was launched in the current form in June 1947. The introduction of rationing in India dates back to the 1940s Bengal famine.&hellip;</p>
      </article>
      <article class="one_third">
        <h6 class="uppercase font-x1"><a href="#">Food surplus states</a></h6>
        <p class="nospace">Food surplus states are the provider of India's food security. Most states in India do not produce the surplus food and they are the net consumer of the food. There is a very small number of states that produce the surplus &hellip;</p>
      </article>
      <article class="one_third">
        <h6 class="uppercase font-x1"><a href="#">Fair price shop </a></h6>
        <p class="nospace">A public distribution shop, also known as fair price shop (FPS), is a part of India's public system established by the Government of India which distributes rations at a subsidised price to the poor Locally these are known as ration shops &hellip;</p>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('C:\Users\user\Desktop\Anamika\e_ration_project\e_ration_project\ration_app\static\images\demo\backgrounds\b4751520-03da-4c2e-a1b0-2c69c6f635ee.webp');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Consumer Affairs</h6>
      <p>The Civil Supplies Department discharges the important responsibilities of Public Distribution, enforcement of markets discipline and promotion of consumer awareness and protection of their interest. In the 60s and 70s it won many accolades for the pioneering achievements in the implementation of Universal Rationing System.</p>
    </div>
    <div class="one_quarter">
      <h6 class="title">Locality Information</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Maveli Road, Kadavanthra, Kerala 682020
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
          +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890<br>
          +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@govkerala.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Contact Details</h6>
      <ul class="nospace linklist">
        <li><a href="#">District Supply Officer</a><br>Email: dsotvpm@yahoo.in</li>
        <li><a href="#">Taluk Supply Officer</a><br>Email:tsonta12@gmail.com</li>
        <li><a href="#">City Rationing Officer</a><br>Email:crontvpm@gmail.com</li>
        <li><a href="#">Deputy Controller of Rationing</a><br>Email: dycrsouth@gmail.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Right to Info Act 2023</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Rationing and Consumer Affairs Section</a></h2><br>
            <!-- <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time> -->
            <p class="nospace">Junior Superintendent In the Office of Dy. Controller of Rationing&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Establishment section</a></h2><br>
            <!-- <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time> -->
            <p class="nospace">Senior Superintendent in the Office of District Supply Officer&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - <a href="#">Government</a></p>
    <p class="fl_right">Designed and Developed by National Informatics Centre (NIC)<a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates"></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>s
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
<!-- IE9 Placeholder Support -->
<script src="{% static 'layout/scripts/jquery.placeholder.min.js' %}"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>